*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #a799e4;
  color: #011F26;
}

.App{
  width: 100%;
}

.listproduct{
  width: 100%;
}

.sumary{
  border: 1px solid;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

h1{
  width: 100%;
  text-align: center;
}

.img{
  text-align: center;
  width: 100px;
  height: 100px;
}
.img_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.titulo{
  font-size: 50px;
}

.sumary button{
  width: 120px;
  height: 40px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  background-color: #025E73;
  color: #f5e3c3;
  box-shadow: 0 0 3px 3px grey;
}

.sumary button:hover{
  cursor: pointer;
  background-color: #F2A71B;
  color: #011F26;
}

.card_container{
  width: 100%;
  padding: 3rem 0;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;  
  background-color: rgb(255, 220, 255);
}

.card{
  width: 280px;
  height: 280px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #a799e4;
  box-shadow: 0 0 2px 2px #025E73;
  border-radius: 5px; 
}

.card:hover{
  background-color: #b1a7df;
}

h2{
  width: 100%;
  text-align: center;
  padding: 0 0 1rem 0;
  border-bottom: 2px solid;
}

.container__warning{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #011f26a1;
}

.warning{
  width: 500px;
  height: 400px;
  background-color: #A5A692;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 2px 2px #025E73;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.warning h3{
  width: 100%;
  padding-bottom: 3rem;
}

.warning button{
  width: 100px;
  height: 30px;
}

.form{
  width: 500px;
  height: 400px;
  background-color: #aaac87;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 2px 2px #025E73;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
}
.btn_close{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: #025E73;
  color: #F2A71B;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px 3px grey
}

.btn_close:hover{
  cursor: pointer;
  background-color: #F2A71B;
  color: #011F26;
  transform: scale(1.3);
}

.form input{
  display: block;
  background-color: antiquewhite;
  border: none;
  height: 26px;
  text-align: center;
  border-radius: 6px;
  margin: .5rem;
  width: 300px;
}

.btn__cru{
  width: 180px;
  height: 30px;
  margin-top: 2rem;
  border-radius: 5px;
  background-color: #025E73;
  color: #F2A71B;
  box-shadow: 0 0 3px 3px grey;
}

.btn__cru:hover{
  cursor: pointer;
  background-color: #F2A71B;
  color: #011F26;
}
